# Python
__pycache__/
*.py[cod]
mail/build

# Output Data / Temporary Files (关键！)
*.h5
*.xdmf
*.bp
checkpoint/
swanlog/
plot/
build/
output/
_results/

# IDE
.vscode/
.idea/

# Logs
*nohup.out


# benchmarks
figures
results
data

afsic/demo/demo_337/mesh
afsic/demo/demo_337/mesh-90
afsic/demo/demo_344/MNIST/